@import '@arco-design/web-vue/dist/arco.css';
@import '@tranyu/theme/dist/theme.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--tr-color-neutral50);
  color: var(--tr-color-neutral900);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}
